In [1]:
import pandas as pd
df=pd.read_csv('mean.csv')
df

    Student  Overall Marks  Gender    Subject
0     Anish             97    Male    English
1   Rishabh             83    Male    English
2      Ajay             78    Male    Physics
3   Abhinav             86    Male  Chemistry
4    Anurag             91    Male    English
..      ...            ...     ...        ...
95  Aaditya             77    Male  Chemistry
96    vivek             55    Male    Physics
97    Tisha              7  Female    English
98   Raghav             73    Male    English
99   Ishita             82  Female  Chemistry

[100 rows x 4 columns]

In [2]:
df['Overall Marks'].mean()

68.21

In [3]:
df['Overall Marks'].mode()

0    88
Name: Overall Marks, dtype: int64

In [4]:
# as mean denotes avarage of all number that's why we face problem if anamoly occurs

In [5]:
#in the mean_robust file last value is taken 10000 now see the result (lol eta abr kore dekhte hbe)

In [6]:
df1=pd.read_csv('mean_robust.csv')
df1['Overall Marks'].mean()

166.54455445544554

In [7]:
#that's why mean is not robust matric