In [8]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_ind

In [5]:
data = pd.read_csv("2 sample test.csv")
data

    Hauz Khas  Defence Colony
0         180             220
1         100             200
2         120             240
3         220             180
4         160             160
5         100             260
6         140             280
7         260             300
8         240             240
9         260             220
10        180             260
11        160             160
12        200             180
13        120             220

### Calculating t statistic and p value using 2 sample t-test

In [11]:
t_statistic,p_value =ttest_ind(data['Hauz Khas'],data['Defence Colony'][0:14],equal_var=False)
print(p_value)

0.016649998684395588

### As p  value is less than 0.05 so we can reject the null hypothesis