### Q) There is a training institute called "WinIIT", which claims that 41 out of 100 students in it's class qualify for premier engineering institutes. Normally each year 33% students are able to make it into premier engineering institutes. So should you enroll yourself in WinIIT ?

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import chisquare

In [2]:
data = pd.read_csv('chi_square.csv')
data

          Event  Observed  Expected
0    Successful        41        33
1  Unsuccessful        59        67

In [3]:
#calculating t-statistic and p value of the chi-squared test
t_statistic,p_value = chisquare(f_obs = data['Observed'],f_exp=data['Expected'])
p_value

0.08887585044058065

#### As p>0.05, we fail to reject the Null hypothesis i.e. the observed and expected freequencies are similar