In [5]:
import pandas as pd
df=pd.read_csv('SpreadofData.csv')
df.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [10]:
#range
r = df['Overall Marks'].max() - df['Overall Marks'].min()
print(r)
#df['Overall Marks'].min()

9700

0

In [14]:
# calculating iqr
first_quartile=df['Overall Marks'].quantile(0.25)
third_quartile=df['Overall Marks'].quantile(0.75)
IQR= third_quartile - first_quartile
print(f'First qurtile = {first_quartile}\nThird qua**9rtile={third_quartile}\nIQR={IQR}')

First qurtile = 57.25
Third quartile=87.25
IQR=30.0