In [2]:
import pandas as pd
df=pd.read_csv('median.csv')
df.tail()

    Student  Overall Marks  Gender    Subject
96    vivek             55    Male    Physics
97    Tisha              7  Female    English
98   Raghav             73    Male    English
99   Ishita             82  Female  Chemistry
100     NaN          10000     NaN        NaN

In [3]:
#median
df['Overall Marks'].median()

77.0

In [4]:
#calculating Quantiles which are 1/4 th of quartiles
print(f"first qurtile {df['Overall Marks'].quantile(0.25)}\nsecond quartile {df['Overall Marks'].quantile(0.5)}\nthird quartile {df['Overall Marks'].quantile(0.75)}\nfourth quartile {df['Overall Marks'].quantile(1)}")

first qurtile 58.0
second quartile 77.0
third quartile 88.0
fourth quartile 10000.0