In [2]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_rel

### The information given in the dataset is about a typist's work. The typist makes a certain amount of error while typing in a typewriter the he/she was given a computer and makes error their too. Is the error significantly reduced with the change of device ?

In [3]:
data = pd.read_csv('paired t test.csv')
data

    Errors using typewriter  Errors using a computer
0                         8                        8
1                        13                        8
2                        10                        4
3                         7                        9
4                        13                       10
5                        10                       10
6                        12                        4
7                         9                        5
8                         6                        7
9                         5                        9
10                        9                       12
11                        8                        7
12                       12                        6
13                       12                        9
14                        8                        7
15                        7                        9
16                       12                        6
17                       13                        7
18                       15                        4
19                       10                        7
20                        7                        5
21                       13                        6
22                        9                        6
23                       10                        6
24                        7                        6

In [4]:
#calculating t and p value using scipy library
t_statistic,p_value = stats.ttest_rel(data['Errors using typewriter'],data['Errors using a computer'])
p_value

0.0011653976281601139

### As p value less than 0.05 we can reject the null hypothesis so there is a significance difference after changing device