In [1]:
import pandas as pd
df=pd.read_csv('variance.csv')
df.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [2]:
#steps to calculate varience
# calculate the mean
# calculate the difference between mean and every data point
# calculate squared difference 
# take the avarage of squared difference

In [6]:
mean = df['Overall Marks'].mean()
#calculating difference
difference = df['Overall Marks'] - mean
#difference
squared_difference = difference **2
varience = squared_difference.mean()
varience

919170.8424000001

In [8]:
# calculating direct varience
var = df['Overall Marks'].var(ddof=0) #When you set ddof to 0, as in your example var = df['Overall Marks'].var(ddof=0), it means that you are calculating the population variance, not the sample variance. This is suitable when you have the entire population data rather than just a sample from that population. By setting ddof to 0, you are telling the variance calculation not to apply the correction for estimating the population variance from a sample, and it assumes that you have the entire population data.
var

919170.8424000001